/*
 _____  ___  ___      ___  ____   ____  __  _   ___  
|     |/  _]|   \    /  _]|    \ |    ||  |/ ] /   \ 
|   __/  [_ |    \  /  [_ |  D  ) |  | |  ' / |     |
|  |_|    _]|  D  ||    _]|    /  |  | |    \ |  O  |
|   _]   [_ |     ||   [_ |    \  |  | |     ||     |
|  | |     ||     ||     ||  .  \ |  | |  .  ||     |
|__| |_____||_____||_____||__|\_||____||__|\_| \___/ 
                                                     
   ___     _ __                   _                                       
  /   \   | '_ \    _ _    ___   | |__    __ _    _ __     ___      o O O 
  | - |   | .__/   | '_|  / _ \  | '_ \  / _` |  | '  \   / -_)    o      
  |_|_|   |_|__   _|_|_   \___/  |_.__/  \__,_|  |_|_|_|  \___|   TS__[O] 
_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""| {======| 
"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'./o--000' 
   ___     ___     ___                                                    
  / __|   | __|   | _ \                                                   
 | (_ |   | _|    |   /                                                   
  \___|   |___|   |_|_\                                                   
_|"""""|_|"""""|_|"""""|                                                  
"`-0-0-'"`-0-0-'"`-0-0-'                                                  
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:wght@900&family=Prata&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Prata', serif;
*/

/*============IMPORTANTE==============/

COMO LEER ESTA STYLE SHEET:

1.- Estilos aplicables a todo el sitio
---MOBILE---
2.- NAV, FOOTER y el logo de Whatsapp, aplicable a todo el sitio
3.- Estilos para cada pagina en particular
---DESKTOP, (luego de media queries)---
4.- NAV, FOOTER y el logo de Whatsapp, aplicable a todo el sitio
5.- Estilos para cada pagina en particular*/


/* 1.- ESTILOS APLICABLES A TODO EL SITIO,
INDEPENDIENTEMENTE DE LAS MEDIA QUERIES*/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

html{
	font-size: 62.5%;
}

body{
	width: 100%;
}

.none{
	display: none;
}

.prata{
	font-family: 'Prata', serif;
}

.oswald{
	font-family: 'Oswald', sans-serif;
}

.playfair{
	font-family: 'Playfair Display', serif;
}

.white{
	color: #F0E3E3;
}

.grey{
	color: #4E4A4A;
}

.bgclearBrown{
	background: linear-gradient(338.54deg, #E4D6A7 67.66%, rgba(228, 214, 167, 0) 87.18%);;
}

.relative{
	position: relative;
}

/*===========
    MOBILE
  ==========
*/

/*2.-*/

.nomobile{
	display: none;
}

/*Comienza NAV, igual para todas las paginas*/

nav .isologo{
	height: 4em;
	max-width: 90%;
	transition: 0.7s;
}

nav .isologo:hover {
	transform: scale(1.05);
}

.navbar-collapse{
	flex-grow: 0;
	margin-right: 9%;
}

nav ul{
	margin-left: auto;
}

nav li{
	font-size: 1em;
	margin-right: 1.5rem;
}

nav li:last-of-type{
	margin-right: 0%;
}

nav a{
	font-size: 2em;
}

/*Icono del WHATSAPP, igual para todas las paginas*/

#whatsapp{
	position: fixed;
	bottom: 10px;
	right: 9px;
	width: 16%;
	max-width: 4em;
	z-index: 10000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Finaliza WHATSAPP*/

/*Cierra NAV, gracias Bootstrap*/


/*Comienza FOOTER, igual para todas las paginas*/

#footer{
	margin-top: 5%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#footer section{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .8rem;
}

.social{
	margin-left: 2%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.social a{
	width: 30px;
	margin-right: 10px;
}

.social img{
	width: 80%;
	height: auto;
}

#topFooter{
	position: absolute;
	width: 7%;
	left: 10px;
	bottom: 70px;
}

#isologoFooter{
	width: 40%;
	height: auto;
	margin-right: 10vw;
}

.copyright{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.copyright span{
	font-size: 0.7rem;
}

.copyright span:first-of-type{
	padding-left: 15%;
}

.copyright a{
	text-decoration: none;
	color: #931D1D;
}

/*Finaliza FOOTER*/


/*Ahora si, definido todo lo comun a todo el sitio,
voy definiendo CSS para cada pagina particular*/




/*------------------HOME-------------*/

/*HEADER*/

.heroHome{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url("../img/home/herohome.jpg");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: cover;
	position: relative;
}

.heroHome h1{
	font-size: 4em;
	margin-top: 3vh;
	letter-spacing: 0.1%;
}

.heroHome h2{
	font-size: 2rem;
	margin-bottom: 2vh;
}

#guitarlogo{
	height: 15%;	
}

#lapacho{
	height: 25%;	
}


/*MAIN HOME*/

	/*MAIN SECTION 1*/

		/*MAIN div1*/

#main__div1--Home{
	height: auto;
	margin: 0 1rem;
	padding-top: 1.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

#main__div1--Home h2{
	width: 100%;
	font-size: 2rem;
	text-align: justify;
	color: #931D1D;
	border-bottom: #735C5C solid 2px;
	padding: 1vh 0;
}

#main__div1--Home ul{
	margin: 1rem 15vw 1rem auto;
	padding-left: 7vw;
	padding-bottom: 0;
}

#main__div1--Home ul li{
	font-size: 1.2rem;
	line-height: 2rem;
	padding-bottom: 1rem;
}

#main__div1--Home ul li:nth-of-type(1n){
	text-indent: 1rem;
	color: #3b2213;
}

#main__div1--Home ul li:nth-of-type(2n){
	font-style: italic;
	text-align: right;
}

#main__div1--Home ul li:last-of-type{
	padding-bottom: 0;
}

#phrase1{
	font-size: 2em;
	width: 26ch;
	text-align: right;
	margin-bottom: 0.2vh;
	padding-right: 1em;
}

#phrase1 span{
	font-size: 1.5em;
}

		/*MAIN div2*/

#main__div2--Home{
	height: 50vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#main__div2--Home img{
	width: 100%;
	height: auto;
	border-radius: 0 2% 2% 0;
}

#poema__div2{
	width: 100%;
	font-size: 1.1em;
	text-align: justify;
	padding: 5%;
	line-height: 1.6rem;
	text-align: left;
}

#poema__div2 p:first-of-type{
	text-align: right;
	padding-bottom: 15%;
}

		/*MAIN div3*/

#main__div3--Home{
	width: 100%;
	position: relative;
}

.button1{
	position: absolute; 
	top: 60%;
  	left: 0; 
  	right: 0; 
 	margin: 0 auto; 
  	width: 10em;
	background:none;
	border: #E5E5E5 solid 3px;
	border-radius: 2em;
	
}

.button1 a{
	text-decoration: none;
	font-size: 2rem;
}

		/*MAIN div4*/
		
#main__div4--Home{
	grid-area: div4;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#main__div4--Home h2{
	margin: 3vh auto;
	margin-bottom: 0;
	border-bottom: #837878 solid 2px;
	width: 90%;
}

.includes{
	margin: 0 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 6%;
	padding-right: 4%;
}

.list_items{
	width: 7vw;
	height: auto;
	margin-right: 5%;
}

.includes li{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2vh;
}

.includes span{
	font-size: 1.3rem;
}

.includes li:last-of-type{
	margin-bottom: 0;
}

.includes p{
	margin-top: 4%;
}

.whatever{
	margin: 0.5vh auto 0 35%;
	font-style: italic;
}

.warning{
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 80%;
}

.warning .list_items:first-of-type{
	margin-right: 0;
}

.warning p{
	margin-top: 1%;
}

#main__div4--Home .last{
	margin-top: 2%;
	font-size: 1rem;
	margin-bottom: 5%;
}

	/*MAIN SECTION 2*/

		/*MAIN div5*/

#main__div5--Home{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:flex-start;
}

#main__div5--Home img{
	width: 100%;
}

#main__div5--Home p{
	font-size: 1.5rem;
	color: #F0E3E3;
	position: absolute;
	top: 30%;
}

#main__div5--Home p:last-of-type{
	font-size: 2rem;
	position: absolute;
	top: 35%;
}

.button2{
	padding: 0 3rem;
	font-size: 2rem;
	background: none;
	margin: 0 auto;
	border: #F0E3E3 solid 2px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
}

.button2 a{
	color: #F0E3E3;
	text-decoration: none;
}

		/*MAIN div6*/

#main__div6--Home{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}


#main__div6--Home .left{
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	max-width: 50%;
}


#main__div6--Home h3{
	font-size: 1.8em;
	margin-bottom: 3%;
	min-width: 10ch;
}

#main__div6--Home p{
	font-size: 1.2em;
}

#main__div6--Home p:last-of-type{
	font-size: 1em;
	text-align: right;
}

#guitarHomefondo{
	width: 30%;
	max-width: 250px;
	margin-right: 3rem;
}

/*Cierra MAIN HOME*/



























/*--------------CONTACT----------------*/

/*HEADER CONTACT*/

.bodyContact header{
	background-color: #3b2213;
}

.bodyContact header h1{
	font-size: 1.5rem;
	padding: 5% 0 2% 10vw;
	margin-bottom: 0;
}

/*MAIN CONTACT*/

	/*MAIN SECTION 1*/

.bodyContact main{
	margin-bottom: 12vh;
}

.section1Contact{
	padding-bottom: 8%;
}

#panel{
	background-color: #D1AA80;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 2vh;
	width: 80vw;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}

#panel .left{
	margin: 15% 0 7% 0;
}

#panel .left form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#panel .left form input{
	width: 70vw;
	margin-bottom: 8%;
	padding: 2% 0 0 3%;
	background: rgba(228, 214, 167, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	line-height: 100%;
}

#textarea{
	width: 70vw;
	padding: 2% 0 10% 1%;
	margin-bottom: 10%;
	resize: none;
	background: rgba(228, 214, 167, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

#panel .left form button{
	padding: 2% 8%;
}


#panel .right{
	height: auto;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 5%;
}

#panel .right .address{
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 5% 10% 5% 0;
}

#panel .right .address aside{
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: 1rem;
}

#panel .right .address aside p:last-of-type{
	font-weight: bold;
}

#panel .right .address img{
	width: 15%;
	margin-right: 9%;
}

#panel .right .googlemaps{
	display: flex;
}

#panel .right .googlemaps iframe{
	margin: 0 auto;
	width: 80%;
	height: 20%;
}

.acc h2{
	margin: 2vh;
}

.faq{
	width: 90%;
	margin: 2vh auto 0 auto;
}

/*Forma de ola que tiene al final el main*/

.bodyContact .wave{
	width: 100%;
	height: auto;
}


























/*------------------GUITARS-------------*/

/*HEADER*/

.bodyGuitars header h1{
	padding: 6rem auto 2rem auto;
	margin-bottom: 0;
	text-align: center;
}

/*MAIN*/

.bodyGuitars .carousel{
	width: 90%;
	margin: 0 auto;
}

.bodyGuitars .wave{
	width: 100vw;
}












/*------------------GALLERY-------------*/

/*HEADER*/

.bodyGallery header{
	background-color: #3b2213;
}

.bodyGallery header h1{
	padding: 6rem auto 2rem auto;
	margin-bottom: 0;
	text-align: center;
}

/*MAIN*/


.bodyGallery .wave{
	width: 100vw;
}
















/*------------------ABOUT-------------*/

/*HEADER*/

.bodyAbout header{
	background-color: #3b2213;
}

.bodyAbout header h1{	
	text-align: left;
	margin-bottom: 0;
	padding: 2vh;
}

/*MAIN*/

.bodyAbout main div{
	padding: 1rem;
}

.bodyAbout main img{
	width: 100%;
}

.bodyAbout aside p{
	padding: 0 2rem;
}

.bodyAbout .wave{
	width: 100%;
}












/*==========MEDIA QUERIES================*/

@media only screen and (min-width: 450px){

/*DESKTOP*/

.nodesktop{
	display: none;
}

.nomobile{
	display: inline-block;
}


/*----ELEMENTOS COMUNES A TODAS LAS PAGINAS----*/

/*Comienza NAV, igual para todas las paginas*/

nav{
	height: 15vh;
	grid-area: nav;
}

/*Icono del WHATSAPP, igual para todas las paginas*/

#whatsapp{
	top: 1.1vh;
	right: 20px;
	width: 15vh;
}

/*Cierra WHATSAPP*/

/*Cierra NAV*/

/*Comienza FOOTER, igual para todas las paginas*/

#footer{
	margin-top: 5%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: center;
}

#footer section{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .8rem;
}

.social{
	margin: 0 auto 0 6vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.social a{
	width: 30px;
	margin-right: 20px;
}

.social img{
	width: 100%;
	height: auto;
	transition: 0.2s;
}

.social img:hover{
	transform: scale(2);
}

#isologoFooter{
	width: 15vw;
	margin-right: 7vw;
	transition: 0.8s;
}

#isologoFooter:hover{
	transform: scale(1.1);
}

.copyright{
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 1vh;
}

.copyright span{
	font-size: 1.5rem;
	padding-left: 50vw;
}

.copyright span:first-of-type{
	padding-left: 2vw; 
}

#topFooter{
	width: 3%;
	position: absolute;
	right: 3vw;
	bottom: 10vw;
}

/*Finaliza FOOTER*/















/*GRID TEMPLATE AREAS (PARA DESKTOP) PARA CADA PAGINA*/

/*-------------HOME-----------*/

/*En HOME designe la section1 como Grid*/

.sectionHome1{
	display: grid;
	height: auto;
	grid-template-columns: 40vw 60vw;
	grid-template-areas: 
	"div2 div1"
	"div4 div1"
	"div4 div3"
}

#main__div1--Home{
	grid-area: div1;
}

#main__div2--Home{
	grid-area: div2;
}

#main__div3--Home{
	grid-area: div3;
}

#main__div4--Home{
	grid-area: div4;
}

/*-------------GUITARS-----------*/

/*En GUITARS designe todo MAIN como Grid*/

/* .bodyAbout main{
	display: grid;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"div1 div2 div3"
}
 */
.bodyGuitars .div1{
	grid-area: div1;
}

.bodyGuitars .div2{
	grid-area: div2;
}

.bodyGuitars .div3{
	grid-area: div3;
}


/*-------------GALLERY-----------*/

/*En GALLERY designe todo MAIN como Grid*/

/* .bodyGallery main{
	display: grid;
	height: auto;
	grid-template-columns: 35vw 20vw 45vw;
	grid-template-areas: 
	"div2 div2 div5"
	"div3 div4 div5"
	"div1 div1 div1"
}
 */
.bodyGallery .div1{
	grid-area: div1;
}

.bodyGallery .div2{
	grid-area: div2;
}

.bodyGallery .div3{
	grid-area: div3;
}

.bodyGallery .div4{
	grid-area: div4;
}

.bodyGallery .div5{
	grid-area: div5;
}


/*-------------ABOUT-----------*/

/*En ABOUT solo designe la section1 como Grid*/

.bodyAbout main{
	display: grid;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"div1 aside div2"
}

.bodyAbout .div1{
	grid-area: div1;
}

.bodyAbout aside{
	grid-area: aside;
}

.bodyAbout .div2{
	grid-area: div2;
}

/*FINAL DE GRID TEMPLATE AREAS*/









/*------------------HOME---------------------*/

/*Comienza HEADER*/

.heroHome{
	width: 100%;
	height: 85vh;
	border-radius: 0px 0px 0px 50px;
}

.heroHome h1{
	font-size: 7rem;
	letter-spacing: 10%;
}

.heroHome h2{
	font-size: 4rem;
}

.bodyHome header p{
	position: absolute;
	top: 45vh;
	left: 20px;
	width: 20ch;
	font-size: 2em;
}

/*Cierra HEADER*/

/*Comienza MAIN*/

	/*MAIN SECTION 1*/

		/*MAIN div1*/

		#main__div1--Home{
			height: fit-content;
			display: flex;
			padding-top: 1.5%;
		}
		
		#main__div1--Home h2{
			width: 90%;
			font-size: 2vw;
			text-align: justify;
			color: #931D1D;
			border-bottom: #735C5C solid 2px;
			padding: 1vh 0;
		}
		
		#main__div1--Home ul{
			margin: 3vh 4vw 1rem auto;
			padding-left: 1vw;
			padding-bottom: 0;
		}
		
		#main__div1--Home ul li{
			font-size: 1.5vw;
			text-align: left;
			text-indent: 0;
			line-height: 2vw;
			padding-bottom: 5vh;
		}

		#main__div1--Home ul li:nth-of-type(1n){
			text-indent: 0rem;
			color: #3b2213;
		}
		
		#main__div1--Home ul li:nth-of-type(2n){
			font-style: normal;
			font-weight: bold;
			text-align: left;
		}
		
		#main__div1--Home ul li:last-of-type{
			padding-bottom: 0;
		}
		
		.phrase1 p{
			font-size: 7rem;
			color: #837878;
		}
		
		.phrase1 p:first-of-type{
			position: absolute;
			left: 48%;
			top: 176vh;
		}
		
		.phrase1 p:last-of-type{
			position: absolute;
			right: 13%;
			top: 182vh;
		}
		
		#phrase1{
			font-size: 3rem;
			color: #837878;
			text-align: right;
			margin-bottom: 0.2vh;
			margin-left: 7vw;
		}
		
		/*MAIN div2*/

		#main__div2--Home{
			padding-top: 20%;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		
		#main__div2--Home img{
			margin: 5vh 0 5vh 0;
			filter: drop-shadow(5px 1px 14px rgba(0, 0, 0, 0.25));
			border-radius: 10px;
		}
		
		#poema__div2{
			text-align: justify;
			padding: 5%;
		}
		
		#poema__div2 p:last-of-type{
			width: 20ch;
			height: auto;
			font-size: 1.7em;
			line-height: 2.5em;
			padding-bottom: 15%;
		}

		/*MAIN div3*/

		#main__div3--Home{
			margin: 2vh auto;
			height: 62vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		#main__div3--Home img{
			width: 80%;
			filter: drop-shadow(0px 5px 41px rgba(0, 0, 0, 0.25));
			border-radius: 12px;
		}

		.button1{
			padding: 0 3rem;
			font-size: 2rem;
			background: none;
			margin: 0 auto;
			border: #F0E3E3 solid 2px;
			border-radius: 20px;
			position: absolute;
			width: 20vh;
			top: 70%;
		}

		.button1 a{
			color: #F0E3E3;
		}

		/*MAIN div4*/
		
		#main__div4--Home{
			width: 80%;
			margin-top: 8em;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}

		#main__div4--Home h2{
			margin: 3vh auto;
			margin-bottom: 0;
			border-bottom: #837878 solid 2px;
			width: 90%;
		}

		.includes{
			margin: 0 10%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			padding-top: 6%;
			padding-right: 4%;
		}

		.list_items{
			width: 30%;
			margin-right: 5%;
		}

		.includes li{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 2vh;
		}

		.includes span{
			font-size: 1.3rem;
		}

		.includes li:last-of-type{
			margin-bottom: 0;
		}

		.includes p{
			margin-top: 4%;
		}

		.whatever{
			margin: 0.5vh auto 0 35%;
			font-style: italic;
		}

		.warning{
			margin-top: 4%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 80%;
		}

		.warning .list_items{
			width: 15%;
		}

		.warning .list_items:first-of-type{
			margin-right: 0;
		}

		.warning p{
			margin-top: 1%;
		}

		#main__div4--Home .last{
			margin-top: 2%;
			font-size: 1rem;
			margin-bottom: 5%;
		}

	/*MAIN SECTION 2*/

		/*MAIN div5*/

#main__div5--Home{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:flex-start;
}

#main__div5--Home img{
	width: 100%;
}

#main__div5--Home p{
	font-size: 3em;
	color: #F0E3E3;
	position: absolute;
	top: 30%;
}

#main__div5--Home p:last-of-type{
	font-size: 5em;
	position: absolute;
	top: 35%;
}

.button2{
	padding: 0 3em;
	background: none;
	margin: 0 auto;
	border: #F0E3E3 solid 3px;
	border-radius: 2em;
	position: absolute;
	top: 50%;
	transition: 0.5s;
}

.button2:hover{
	transform: translateY(-.4em);
}

.button2 a{
	color: #F0E3E3;
	font-size: 2.5em;
}

		/*MAIN div6*/

#main__div6--Home{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

#main__div6--Home .right{
	display: inline-block;
	width: 30%;
}

#main__div6--Home h3{
	font-size: 3em;
}

#main__div6--Home p{
	font-size: 2em;
}

#guitarHomefondo{
	width: 60%;
	max-width: 250px;
	margin:0;
}























/*---------CONTACT---------*/

/*HEADER CONTACT*/

.bodyContact header h1{
	font-size: 1.5rem;
	padding: 2vw 0 2% 20%;
}

.section1Contact{
	padding-bottom: 0;
}

#panel{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left right';
	width: 60%;
	height: auto;
}

#panel .left{
	grid-area: left;
}

#panel .right{
	grid-area: right;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 5%;
}

#panel .right .googlemaps iframe{
	margin: 0 auto;
	width: 80%;
	height: 40vh;
}

#panel .left form input{
	width: 70%;
	margin-bottom: 8%;
	padding: 2% 0 0 3%;

}

#textarea{
	width: 70%;
	padding: 2% 0 10% 1%;
	margin-bottom: 10%;
	resize: none;
	background: rgba(228, 214, 167, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

#panel .left form button{
	padding: 2% 8%;
}
























/*------------------GUITARS-------------*/

/*HEADER*/

.bodyGuitars header h1{
	text-align: left;
	font-size: 3rem;
	padding-left: 3rem;
}








/*------------------GALLERY-------------*/

/*HEADER*/

.bodyGallery header h1{
	text-align: left;
	font-size: 3rem;
	padding-left: 3rem;
}

/*MAIN*/

.bodyGallery .carousel{
	width: 50%;
	margin: 0 auto;
	padding: 4vh;
}









/*No tocar este corchete, es para cerrar el maldito Media Query*/
}









