@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500&family=Playfair+Display:wght@900&family=Prata&display=swap');

$fontMain: 'Darker Grotesque', sans-serif;
$fontSecondary: 'Prata', serif;
$fontTitles: 'Playfair Display', serif;

